:root {
    --primary-color: #1abc9c;
    --link-color: #2980b9;
    --info-color: #3498db;
    --success-color: #2ecc71;
    --warning-color: #f39c12;
    --danger-color: #e74c3c;
    --gray-color: #dbdbdb;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}
